@page "/counter"
@using static BlazorPeliculas.Client.Shared.MainLayout

@*<h1 style="color: @appState.Color; font-size: @appState.Size;">Counter</h1>

<div class="d-flex">
    <div style="width: 150px;">
        <select @bind="@appState.Color" class="form-control" style="margin-top: 15px">
            <option value="blue">Azul</option>
            <option value="red">Rojo</option>
            <option value="green">Verde</option>
        </select>
    </div>
    <div style="width: 150px;">
        <select @bind="@appState.Size" class="form-control" style="margin-top: 15px">
            <option value="20px">20px</option>
            <option value="40px">40px</option>
            <option value="60px">60px</option>
        </select>
    </div>
</div>*@

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@*<button class="btn btn-primary" @onclick="IncrementCountJs">Click Two</button>*@


@code {
    [Inject] public IJSRuntime JS { get; set; }
    protected int currentCount = 0;
    //static int currentCountStatic = 0;

    public async Task IncrementCount()
    {
        currentCount++;

        //currentCountStatic++;
        //await JS.InvokeVoidAsync("pruebaPuntoNetStatic");
    }

    //[JSInvokable]
    //public static Task<int> ObtenerCurrentCount()
    //{
    //    return Task.FromResult(currentCountStatic);
    //}

    //protected async Task IncrementCountJs()
    //{
    //    await JS.InvokeVoidAsync("pruebaPuntoNetInstancia",
    //        DotNetObjectReference.Create(this));
    //}
}
